.p this is book2111.jade #{map.aa}
each book in List509c9c631050dd91f4276101
  if(book.available==true)
    div(style='border:1px solid blue;') availabe #{book.name}
  else 
    div#nobook.class1.class2 huhu #{book.name}
each book in List50ceb97310502c05ff7be589
  if(book.available==true)
    div(style='border:1px solid red;') availabe #{book.name}
  else 
    div#nobook.class1.class2 huhu #{book.name}